#header {
    text-align: center;
    font-size: 30px;
    background-color:rgb(246, 9, 9);
}

#text {
    text-align: center;
    padding-top: 50px;
    font-size: 30pt;
}

.body {
    padding-top: 20px;
    background-color: rgb(186, 201, 211);
}

#input_field {
    padding-top: 20px;
    text-align: center;
}

#txt_input {
    width: 330px;
    height: 50px;
    border: 3px solid red;
    border-radius: 5px;
    font-size: 25px;
    background-color: aqua;

}

#btn {
    text-align: center;
    padding-top: 20px;

}

#btn_input {
    background-color: #2d0d05; /* Green */
    border: none;
    color: white;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    

}